<h1>Listing newsletters</h1>

<table>
  <tr>
    <th>Session</th>
    <th>Dates</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= newsletter.session %></td>
    <td><%= newsletter.dates %></td>
    <td><%= newsletter.year %></td>
    <td><%= link_to 'Show', "stlp-#{newsletter.year}/#{newsletter.session}" %></td>
    <%- if authed_user? -%>
      <td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
      <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%- end -%>
  </tr>
<% end %>
</table>

<br />

<%- if authed_user? -%>
  <%= link_to('New Newsletter', new_newsletter_path) %><br/>
  <%= link_to 'Logout', logout_path %>
<%- else -%>
  <%= link_to('Login', login_path(:referrer=>request.fullpath)) %>
<%- end -%>

