<h1>Listing further_readings</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th>Newsletter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @further_readings.each do |further_reading| %>
  <tr>
    <td><%= further_reading.url %></td>
    <td><%= further_reading.description %></td>
    <td><%= further_reading.newsletter %></td>
    <td><%= link_to 'Show', further_reading %></td>
    <td><%= link_to 'Edit', edit_further_reading_path(further_reading) %></td>
    <td><%= link_to 'Destroy', further_reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Further reading', new_further_reading_path %>
