<h1>Listing key_points</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @key_points.each do |key_point| %>
  <tr>
    <td><%= key_point.description %></td>
    <td><%= key_point.points %></td>
    <td><%= link_to 'Show', key_point %></td>
    <td><%= link_to 'Edit', edit_key_point_path(key_point) %></td>
    <td><%= link_to 'Destroy', key_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key point', new_key_point_path %>
